<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Website</title>
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
    <link rel="icon" type="image/x-icon" href="" />
  </head>
  <body>
    <div id="navigation-bar">
      <a href="" rel="noopener" class="navigation-items">Home</a>
      <a href="" rel="noopener" class="navigation-items">Shop</a>
      <a href="" rel="noopener" class="navigation-items">Careers</a>
      <a href="" rel="noopener" class="navigation-items">Contact Us</a>
    </div>
    <div id="homepage">
      <h1 class="homepage-title">MINIMALIST MAGIC</h1>
      <div id="two-description">
        <p class="info">
          The show revolves around the activity of the Sebben & Sebben law firm,
          which is staffed mainly by superheroes and other characters who had
          originally been featured in 1960s-era Hanna-Barbera cartoons, most
          notably Harvey Birdman (as the main character) and the Galaxy Trio.
          The series' final episode aired on July 22, 2007. Harvey Birdman is a
          fictional superhero/attorney at law who first appeared on the
          Hanna-Barbera show Birdman and the Galaxy Trio as Ray Randall,
          Birdman. After returning as guest host in Space Ghost Coast to Coast
          as Harvey Birdman, he received a new spin-off solo series in Harvey
          Birdman, Attorney at Law, depicting his legal career. The character
          returned as United States Attorney General in Harvey Birdman: Attorney
          General.
        </p>
        <p class="info">
          The series centers on the surreal adventures and antics of three
          anthropomorphic fast food items: Master Shake, a selfish,
          self-contradictory, pathologically lying milkshake; Frylock, an
          intelligent, usually logical, well-meaning box of French fries; and
          Meatwad, a shapeshifting, childlike, somewhat simple-minded ball of
          ground meat. Master Shake is the protagonist Aqua Teen Hunger Force.
          Unlike his older brother Frylock who is an uptight super intelligent
          box of french fries and his younger brother Meatwad who is known to be
          a dimwitted yet lovable ball of meat, Shake is a rude, selfish,
          idiotic and lazy (In earlier episodes, he believed he was the leader)
          milkshake. Although he can do good things along with the other two.
          That is, if he truly wants to.
        </p>
      </div>
    </div>
    <div id="weird-page">
      <div id="weird-title-container">
        <h1 class="weird-title">
          DR. WEIR
          <h1 class="weird-title-d">D</h1>
        </h1>
      </div>
      <div id="weird-container">
        <p class="weird-info">
          Dr. Weird is a supporting character and a main antagonist in the show
          Aqua Teen Hunger Force. For the first two seasons of the show, he was
          the subject of its cold openings. He rarely appears outside the cold
          openings. Dr. Weird wears a purple and yellow robe, with a W-shaped
          hole in the front. He also has a "hairarium" or hair heater around his
          head. He has white hair that somewhat forms the shape of a W.
          Reminiscent of super villains from the 1960s and 1970s, Dr. Weird
          wears a domino mask that covers his eyes, which appear to be solid
          red. He also wears gloves.
        </p>
        <img
          id="weird-picture"
          src="https://raw.githubusercontent.com/Lavertsss/Assets/main/Dr._Weird.webp"
          height="auto"
          width="auto"
        />
      </div>
    </div>
    <div id="newsletter-page">
      <h1 id="newsletter-title">Breaking News</h1>
      <div id="news-wrapper">
        <div id="news-container">
          <div id="newsletter-topics">
            <a class="newsletter-topics-nav" href="" rel="noopener">World</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">U.S.</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Business</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Science</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Health</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Books</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Magazine</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Arts</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Sports</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Travel</a>
            <a class="newsletter-topics-nav" href="" rel="noopener">Opinion</a>
          </div>
          <p class="newsletter-content">
            <i>
              &emsp;&emsp; In the last 28-day period (24 July to 20 August
              2023), nearly 1.5 million new COVID-19 cases and over 2000 deaths
              were reported from WHO’s six regions, an increase of 63% and a
              decrease of 48%, respectively, compared to the previous 28 days.
              As of 20 August 2023, over 769 million confirmed cases and over
              6.9 million deaths have been reported globally. Three WHO regions
              reported increases in the number of cases, while two regions
              reported decreases. While four WHO regions reported decreases in
              the number of deaths, the East Mediterranean Region reported an
              increase in deaths. In this WEU edition, we have included all
              available data from the Region of the Americas since the start of
              the pandemic up to 6 August 2023 in the global figures. Currently,
              reported cases do not accurately represent infection rates due to
              the reduction in testing and reporting globally. During this
              28-day period, 44% (103 of 234) of countries reported at least one
              case to WHO, a proportion that has been declining since mid-2022.
              In case you couldn't make up yourr mind, yes, COVID-19 is still
              dangerous. Please keep yourself safe by applying hand sanitizer or
              trying to wash your hands a maximum every 3 hours. <br /><br />
              &emsp;&emsp; Please note that this is the last edition of the
              COVID-19 Weekly Epidemiological Update. Moving forward, as WHO
              transitions its COVID-19 surveillance from an emergency response
              to long-term COVID-19 disease prevention, control and management,
              we will be providing updates every four-weeks, with the next
              edition set to be published on 28 September 2023. Disaggregated
              data will still be accessible on the WHO COVID-19 dashboard, where
              the full dataset is available for download. WHO has also recently
              updated COVID-19 surveillance reporting requirements for Member
              States, which can be found here.</i
            >
          </p>
        </div>
        <div id="sidebar">
          <h1 class="related-topics-sidebar">Related Topics:</h1>
          <a class="sidebar-item" href="" rel="noopener"
            >Biden Administration Under Investigat...</a
          >
          <img
            class="sidebar-picture"
            src="https://raw.githubusercontent.com/Lavertsss/Assets/main/biden.webp"
            height="auto"
            width="auto"
          />
          <a class="sidebar-item" href="" rel="noopener"
            >Kamala Harris turns...</a
          >

          <a class="sidebar-item" href="" rel="noopener"
            >2 Charged with Murder in Day Care...</a
          >
          <img
            class="sidebar-picture"
            src="https://raw.githubusercontent.com/Lavertsss/Assets/main/17ny-daycare-1-lqwz-threeByTwoSmallAt2X.webp"
            height="auto"
            width="auto"
          />
          <a class="sidebar-item" href="" rel="noopener"
            >Trump criticiez Abortion Ban...</a
          >
          <a class="sidebar-item" href="" rel="noopener"
            >Climate Protesters Around the World...</a
          >
        </div>
      </div>
    </div>
    <div id="magazine-page">
      <div id="magazine-image-overlay">
        <img
          id="magazine-main-image"
          src="https://raw.githubusercontent.com/Lavertsss/Assets/main/neyo-finished-transformed.png"
          height="auto"
          width="auto"
        />
      </div>
      <div id="magazine-title-wrapper">
        <h1 class="magazine-title">WEEKLY</h1>
      </div>
      <div id="magazine-text-wrapper">
        <p class="magazine-subtitle">HAS NE-YO FALLEN OFF?</p>
        <p class="magazine-subtitle-text">
          IT APPEARS THAT POPULAR 2010'S POP SINGER "NE-YO GOT INTO AN
          ALTERCATION WITH A COWORKER THIS MONDAY AFTERNOON, WHICH LATER,
          ABRUPTED INTO A FIST FIGHT. IT APPEARS THAT POPULAR 2010'S POP SINGER
          "NE-YO GOT INTO AN ALTERCATION WITH A COWORKER THIS MONDAY AFTERNOON,
          WHICH LATER, ABRUPTED INTO A FIST FIGHT.
        </p>
      </div>
      <div id="magazine-text-wrapper-right">
        <p class="magazine-subtitle">NEYO HAS A FUTURE IN TV?</p>
        <p class="magazine-subtitle-text">
          IN 2011, NE-YO WAS APPROACHED BY CARTOON NETWORK TO HELP CREATE AN
          ANIMATED SERIES. NE-YO ANNOUNCED THAT THE SHOW WOULD BE TITLED I HEART
          TUESDAY AND THAT HE HAD CREATED IT FOR HIS SISTER.
        </p>
      </div>
      <div id="magazine-text-wrapper-opaque-right">
        <p class="magazine-subtitle">DON'T MISS IT LIVE ON TMZ @ 8PM EST.</p>
      </div>
      <div id="magazine-text-wrapper">
        <p class="magazine-subtitle">A QUOTE FROM NE-YO AT THE SCENE:</p>
        <p class="magazine-subtitle-text">
          "I'M TRYING TO ESCAPE THE SHACKLES OF A PEN AND A PAD. I'VE SAT IN
          SESSIONS WITH JAY-Z WHERE HE DOESN'T WRITE ANYTHING DOWN. HE'LL COME
          UP WITH THE MOST INCREDIBLE TRIPLE ENTENDRE, ALL IN HIS HEAD - IT'S
          AMAZING. I'M TRYING TO ESCAPE THE SHACKLES OF A PEN AND A PAD."
        </p>
      </div>
      <div id="magazine-title-wrapper">
        <h1 class="magazine-bottom-title">THE CONTROVERSY SURROUNDING:</h1>
        <h1 class="magazine-bottom-subtitle">SHAFFER "NE-YO" SMITH</h1>
      </div>
      <div id="magazine-text-wrapper-opaque">
        <p class="magazine-subtitle">RREAD MORE ON HIS WIFE'S THOUGHTS.</p>
      </div>
      <div id="barcode-image-container">
        <img
          id="barcode-image"
          src="https://raw.githubusercontent.com/Lavertsss/Assets/main/barcode-on-white-background-illustration-vector.jpg"
          height="auto"
          width="auto"
        />
      </div>
      <div id="footer-section">
        <p class="footer-text"><i>
          @Lavertsss
        </p></i>
        <p class="footer-text"><i>
          mindlessmuseum.com
                  </p></i>
      </div>
    </div>
  </body>
</html>

<!-- <div id="picturesque">
      <div id="options-container">
        <div id="picture-option-1">
          <a class="option-1-text" href="" rel="noopener">SHOP</a>
          <div id="option-explanation-div">
            <p class="option-explanation">
              "Welcome to our professional 'Shopping' portal, meticulously
              designed to provide a seamless and sophisticated shopping
              experience. By selecting the 'Shop' tab, you gain access to an
              extensive array of premium products curated to meet your exacting
              standards. From high-end fashion to state-of-the-art electronics,
              our distinguished selection epitomizes quality and style. Immerse
              yourself in the world of luxury, discover exclusive offers, and
              indulge in the convenience of upscale online shopping—all at your
              fingertips."
            </p>
          </div>
        </div>
        <div id="picture-option-2">
          <a class="option-2-text" href="" rel="noopener">CONTACT</a>
          <div id="option-explanation-div">
            <p class="option-explanation">
              "Welcome to our professional 'Shopping' portal, meticulously
              designed to provide a seamless and sophisticated shopping
              experience. By selecting the 'Shop' tab, you gain access to an
              extensive array of premium products curated to meet your exacting
              standards. From high-end fashion to state-of-the-art electronics,
              our distinguished selection epitomizes quality and style. Immerse
              yourself in the world of luxury, discover exclusive offers, and
              indulge in the convenience of upscale online shopping—all at your
              fingertips."
            </p>
          </div>
        </div>
      </div>
    </div> -->
