html {
    scroll-behavior: none;
}

html, body {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display:none;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "IntervogueAltBlack", arial, helvetica, sans-serif;
    font-weight: bold;
    user-select: none;
    caret-color: r  gb(255, 47, 47) !important;
    cursor: rgb(145 255 47);
}

/* TITLE AND ANIMATION */
#title-wrapper {
    display: block;
    text-align: center;
    color: #51ff00;
    width: min(50%, 100rem);
    text-wrap: nowrap;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    position: relative; 
}

.title {
    font-size: 4em;
    transition-duration: 500ms;
    color: #51ff00;
    display: inline-block;
    margin: 20px;
}

/* SHOWCASE TEXT */
.showcase-text {
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
    position: relative;
}

.showcase-slide {
    animation: textflow 15s infinite linear;    
    display: inline-flex;
}

.showcase-slide p {
    margin: 0 20px;
}

.AIS {
    font-size: 1rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.AIS:hover {
    color: #51ff00;
}

/* PLAY STATE AND ANIMATION OF SHOWCASE */
/* .showcase-text:hover .showcase-slide {
    animation-play-state: paused;
} */

@keyframes textflow {
    /* 100% { transform: translate(-100%, 0);} */
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* MAIN GRID LAYOUT */
.main-grid {
    display: grid;
    padding-block: 2rem;
    gap: 1.5rem;
    width: 90%;
    height: min(100%, 100rem);
    flex-wrap: wrap;
    grid-template-columns:repeat(3, 1fr);
    margin: auto;
}

/* GRID ITEMS */
.main-grid-items {
    padding: 1rem;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: left;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    border: 0.5rem solid rgb(255, 255, 255);
    min-height: 15rem;
    font-size: 1rem;
}

.main-grid-items:nth-child(3){
    grid-row-start: span 2;
}

.main-grid-items:nth-child(6) {
    grid-column-start: span 2;
    padding: 1rem;
}

.main-grid-items:nth-child(7) {
    padding-bottom: 4rem;
}

.main-grid-items:nth-child(8) {
    max-height: min-content;
    grid-row-start: span 2;
    border: 0.5rem solid #51ff00;
}

/* GRID ITEMS STATIC STYLING */
.span1 {
    display: inline;
    transition-duration: 200ms;
}

.span2 {
    display: none;
    transition-duration: 200ms;
}

.static-information {
    color: #51ff00;
}

.linkbutton {
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: #51ff00;
    border: 1rem solid #51ff00 ;
    border-radius: 5rem;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition-duration: 200ms;
}

/* GRID ITEMS STATE EFFECTS */
.main-grid-items:active {
    z-index: 5;
}

.main-grid-items:nth-child(6):hover {
    transition-duration: 50ms;
}

.main-grid-items:hover {
    transition-timing-function: ease;
    transition-duration: 250ms;
    border: 0.5rem solid #51ff00;
    background-color: black;
    color: white;
}

.main-grid-items:nth-child(8):hover {
    background-color: white;
    color: black;
}

.main-grid-items:hover .information{
    color: #51ff00;
}

.main-grid-items:hover .span1 {
    display: none;
    transition-duration: 250ms;
}

.main-grid-items:hover .span2 {
    display: inline;
    transition-duration: 250ms;
}

/* ABOUT AND SKILLS STYLE AND LAYOUT */
.about-text {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.skills-list {
    font-size: 1.25rem;
    margin-top: 2rem;
}

.skills-list-items {
    padding-bottom: 1rem;
}

.skills-list-items:hover {
    color: #51ff00;
}

/* CONTACT STYLING */
.contact-description {
    /* padding-bottom: 4rem; */
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.contact-flex {
    overflow-x: auto;
    overflow-y: hidden;
    flex: 1;
    display:flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    transition-duration: 500ms;
    gap: 2rem;
}

.contact-flex::-webkit-scrollbar {
    display: none;
}

.contact-references {
color: #51ff00;
}

.reference-wrapper {
    text-align: center;
    padding-top: 1rem;
    width: 100%;
}

.fa {
    padding: 20px;
    width: 3rem;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 3rem;
    background-color: #ff0b85;
    width: 3rem;
    height:3rem;
  }

  .fa-instagram:before {
        font-size: 3rem;
  }

  .fa-google {
    background: #125688;
    color: white;
    border-radius: 3rem;
    background-color: #ec361e;
    width: 3rem;
    height:3rem;
  }

  .fa-google:before {
        font-size: 3rem;
  }

  .fa-twitter {
    background: #125688;
    color: white;
    border-radius: 3rem;
    background-color: #0b9dff;
    width: 3rem;
    height:3rem;
  }

  .fa-twitter:before {
        font-size: 3rem;
  }

  .fa-facebook {
    background: #125688;
    color: white;
    border-radius: 3rem;
    background-color: #0059ff;
    width: 3rem;
    height:3rem;
  }

  .fa-facebook:before {
        font-size: 3rem;
  }

  #unreleased {
    display: none;
  }

@media only screen and (max-width:1000px) {
    html, body {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .title {
        text-align: center;
        font-size: 4rem;
        text-wrap: wrap;
    }

    #title-wrapper {
        width: min(90%);
    }

    .main-grid{
        grid-template-rows: repeat( 1fr);
        grid-template-columns: none;
        display: block;
    }

    .main-grid-items {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: min(75%);
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .main-grid-items:nth-child(3) .about-text {
        text-align: center;
        font-size: 1rem;
    }

    .skills-list-items {
        padding-bottom: 1rem;
        text-align: left;
    }
}

@media only screen and (min-width:2250px) {
    .main-grid-items {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width:3800px) {
.title {
    font-size: 5rem;
}

    .main-grid-items {
        font-size: 2.5rem;
    }
    
    .about-text {
    font-size: 2.5rem;
    line-height: 2.5rem;
    }

    .skills-list-items {
        font-size: 2.5rem;
    }

    .AIS {
        font-size: 10rem;
    }
}


