* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Satoshi", sans-serif;
}

/* ////////////// ID'S ////////////// */

#box {
  position: relative;
  margin: 0 auto;
  margin-top: 10vh;
  width: 80vw;
  max-width: 2560px;
  cursor: default;
  background-color: white;
}

#workspace {
  background-color: black;
  height: 80vh;
}

/* ////////////// GLOBAL VALUES ////////////// */
.header-1 {
}

.bold {
  font-weight: 1000;
}
