* {
  margin: 0 0;
  padding: 0 0;
  font-family: "Satoshi", sans-serif;
}

#box {
  position: relative;
  margin: 0 auto;
  margin-top: 30vh;
  width: 80vw;
  cursor: default;
  background-color: white;
}

#namespace {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#idpicture {
  border-radius: 100%;
  background-color: rgb(83, 83, 83);
  border: 5px solid rgb(49, 49, 49);
  object-fit: cover;
}

/* ////////////// GLOBAL VALUES ////////////// */
.header-1 {
  font-size: 65px;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.sub-header-1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: 1000;
}

.blue {
  color: rgb(0, 195, 255);
}

.bg-pink {
  background-color: rgb(255, 125, 186);
}

.rounder {
  border-radius: 25px;
  outline: none;
}
