html,
body {
  margin: 0 0;
  user-select: none;
  font-family: "Satoshi", sans-serif;
}

#workspace {
  display: block;
}

#workarea {
  background-color: rgb(255, 255, 255);
  border: 5px solid black;
  border-radius: 25px;
  width: 1250px;
  height: 750px;
  margin: 50px auto;
  padding: 25px;
}

#answerline {
  width: fit-content;
  border: 1px black solid;
  background-color: white;
  color: black;
  padding: 7px;
  border-radius: 20px;

  &:focus {
    outline: 1px solid black;
  }
}

#submitanswer {
  width: fit-content;
  border: none;
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
}

#refresh {
  width: fit-content;
  border: none;
  background-color: rgb(59, 180, 255);
  color: white;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
}
